// COLOR VARIABLES
$color-primary: #142d52;
$color-primary-dark: #2b3540;

$color-secondary: #113022;
$color-secondary-light: #294539;

$color-grey-light-1: #f7f0ea;
$color-grey-light-2: #dfdbd9;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-white: #ffffff;
$color-black: #000000;

// Breakpoint Variables for Width
$bpw-huge: 93.75em; //1500px
$bpw-largest: 75em; //1200px
$bpw-large: 62.5em; //1000px
$bpw-medium: 50em; //800px
$bpw-small: 37.5em; //600px

// Breakpoint Variables for Height
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //600px


// FONT VARIABLES
$font-primary: "Helvetica Light", sans-serif;
$font-display: "Helvetica", sans-serif;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5% -> 1rem = 10px
  height: 100%;
  background-color: $color-white;

  // @media only screen and (max-width: $bp-largest) {
  //   font-size: 50%;
  // }

  @media only screen and (max-height: $bp-medium) {
    font-size: 50%;
  }

  // @media only screen and (max-width: $bp-small) {
  //   background-color: $color-black;
  // }
}

body {
  font-family: $font-primary;
  background-color: $color-white;
  color: $color-black;
  //overflow: visible;
  //font-weight: 300;
  //line-height: 1.6;
  //overflow-x: hidden;
  //transition: background-color .8s ease-out;
  height: auto;
  animation: page--load-1 ease-in-out 2000ms;

  // @media only screen and (max-width: $bp-small) {
  //   background-color: $color-black;
  //   color: $color-white;
  //   animation: page--load-2 ease-in-out 2000ms;
  // }
}


// .container {
//   display: grid;
//   grid-template-rows: repeat(6, min-content);
//   grid-template-columns:
//     [full-start] minmax(6rem, 1fr)
//     [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
//     [center-end] minmax(6rem, 1fr) [full-end];

//   @media only screen and (max-width: $bp-large) {
//     grid-template-rows: 6rem 80vh 100vh 40vw repeat(3, min-content);
//     grid-template-columns:
//       [full-start] minmax(6rem, 1fr)
//       [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
//       [center-end] minmax(6rem, 1fr) [full-end];
//   }

//   @media only screen and (max-width: $bp-medium) {
//     grid-template-rows: 6rem calc(100vh - 6rem);
//   }
// }
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: none;
}

@keyframes page--load-1 {
  0% {
    background-color: black;
    color: white;
  }

  100% {
    background-color: white;
    color: black;
  }
}

@keyframes page--load-2 {
  0% {
    background-color: white;
    color: black;
  }

  100% {
    background-color: black;
    color: white;
  }
}