// COLOR VARIABLES
$color-primary: #142d52;
$color-primary-dark: #2b3540;

$color-secondary: #113022;
$color-secondary-light: #294539;

$color-grey-light-1: #f7f0ea;
$color-grey-light-2: #dfdbd9;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-white: #ffffff;
$color-black: #000000;


// Breakpoint Variables
$bp-huge: 93.75em; //1500px
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //600px


// FONT VARIABLES
$font-primary: "Helvetica Light", sans-serif;
$font-display: "Helvetica", sans-serif;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5% -> 1rem = 10px
  height: 100%;
  background-color: $color-white;

  // @media only screen and (max-width: $bp-largest) {
  //   font-size: 50%;
  // }

  @media only screen and (max-height: $bp-medium) {
    font-size: 50%;
  }

  // @media only screen and (max-width: $bp-small) {
  //   background-color: $color-black;
  // }
}

body {
  font-family: $font-primary;
  background-color: $color-white;
  color: $color-black;
  height: auto;
  animation: page--load-1 ease-in-out 2000ms;


}


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: none;
}

@keyframes page--load-1 {
  0% {
    background-color: black;
    color: white;
  }

  100% {
    background-color: white;
    color: black;
  }
}

@keyframes page--load-2 {
  0% {
    background-color: white;
    color: black;
  }

  100% {
    background-color: black;
    color: white;
  }
}