.navbar {
  //width: 100%;
  display: flex;
  align-items: center;
  height: 10rem;
  //background-color: white;
  z-index: 3;
  position: fixed;
  //transition: all 1s cubic-bezier(.65, 0, .35, 1);
  right: 0px;
  //left: 0px;

  &--is-active {
    //right: 0px;
    //left: 0px;
    width: 100%;
    display: flex;
    padding-top: 4rem;
    height: min-content;
    z-index: 3;
    position: fixed;
    background-color: black;
    transition: all .6s cubic-bezier(.65, 0, .35, 1);
  }

  &__button {
    padding: 1rem;
    mix-blend-mode: difference;
    background-color: black;
    animation: page--load-2 ease-in-out 2000ms;
    border-radius: 100%;
    border: none;
    margin-left: auto;
    margin-right: 5rem;
    z-index: 5;

    //position: absolute;
    //right: 0px;

    @media only screen and (max-width: $bp-small) {
      background-color: $color-white;
      animation: page--load-1 ease-in-out 2000ms;
    }


    &:hover {
      cursor: none;
    }

    &--is-active {
      padding: 1rem;
      //mix-blend-mode: difference;
      border-radius: 100%;
      border: none;
      margin-left: auto;
      margin-right: 5rem;
      z-index: 5;
      align-self: flex-start;
      //margin-top: 4rem;}

      &:hover {
        cursor: none;
      }
      
      
    }
  }

  &__menu-container {
    margin-right: auto;
    margin-left: 5rem;
    margin-top: 3rem;
    display: none;
    

    

    &--is-active {
      display: inherit;
    }
  }
}