.redes {
  font-family: $font-primary;
  color: inherit;
  width: min-content;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: row;
  }

  &__red {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -.1rem;
    margin-bottom: 5rem;
    //cursor: pointer;

    // @media only screen and (max-height: $bp-medium) {
    //   font-weight: 600;
    // }

    @media only screen and (max-width: $bp-largest) {
      font-size: 2.6rem;
    }

    @media only screen and (max-width: $bp-large) {
      font-size: 2.5rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 2.4rem;
    }

    @media only screen and (max-width: $bp-medium) {
      align-self: center;
      margin: 3rem 1rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }
  }
}