.triptico {
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $bp-large) {
    width: 100%;
    flex-direction: row; 
  }


  &__img {
    width: 17rem;
    margin-top: 1.6rem;

    @media only screen and (max-width: $bp-large) {
      width: 25rem;
      margin-right: 10rem;
      margin-top: 0; 

      &:last-child {
        margin-right: 0; 
      }

    }

    @media only screen and (max-width: $bp-medium) {
      width: 20rem;
      margin-right: 7rem;
      margin-top: 0; 

      &:last-child {
        margin-right: 0; 
      }

    }

    @media only screen and (max-width: $bp-small) {
      width: 9rem;
      margin-right: 3rem;
      margin-top: 0; 

      &:last-child {
        margin-right: 0; 
      }

    }
  }

  


}