.galeria {
  width: min-content;
  
  //background-color: orange;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 20rem;

  min-height: 0;  /* NEW */
  min-width: 0;   /* NEW; needed for Firefox */



  @media only screen and (max-width: $bp-large) {
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-top: 10rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin-top: 5rem;
  }

  &__container {
    height: 100%;
    width: max-content;
    overflow: hidden;  /* NEW */
    min-width: 0;      /* NEW; needed for Firefox */

    @media only screen and (max-width: $bp-large) {
      margin-bottom: 10rem;

      &:last-child {
        margin-bottom: 0;
      }
    } 

    @media only screen and (max-width: $bp-small) {
      margin-bottom: 5rem;

      &:last-child {
        margin-bottom: 0;
      }
    } 

    &--vertical-1 {
      grid-row: 7 / 20;
      grid-column: 1 / 2;
    }

    &--vertical-2 {
      grid-row: 7 / 20;
      grid-column: 3 / 4;
    }

    &--vertical-3 {
      grid-row: 7 / 20;
      grid-column: 5 / 6;
      
      @media only screen and (min-width: $bp-large) {
        margin-left: -40rem;
      } 
      
    }

    &--vertical-4 {
      grid-row: 2 / 20;
      grid-column: 8 / 9;
    }

    &--horizontal-1 {
      grid-column: 2 / 3;
      grid-row: 3 / 19;
    }

    &--horizontal-2 {
      grid-column: 4 / 5;
      grid-row: 1 / 19;
    }

    &--horizontal-3 {
      grid-column: 6 / 7;
      grid-row: 2 / 18;
    }

    &--horizontal-4 {
      grid-column: 7 / 8;
      grid-row: 6 / 19;
      @media only screen and (min-width: $bp-large) {
        margin-left: -30rem;
      } 
    }

    &--horizontal-5 {
      grid-column: 9 / 10;
      grid-row: 7 / 18;
    }

    &--horizontal-6 {
      grid-column: 10 / 11;
      grid-row: 4 / 18;
    }

  }
}