.galeria-otros {
  width: min-content;
  
  //background-color: orange;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(14, min-content);
  grid-column-gap: 5rem;

  min-height: 0;  /* NEW */
  min-width: 0;   /* NEW; needed for Firefox */

  @media only screen and (max-width: $bp-largest) {
    margin-left: 15vw;
}

  @media only screen and (max-width: $bp-large) {
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-top: 10rem;
  }

  &__container {
    height: 100%;
    width: max-content;
    overflow: hidden;  /* NEW */
    min-width: 0;      /* NEW; needed for Firefox */

    @media only screen and (max-width: $bp-large) {
      margin-bottom: 10rem;

      &:last-child {
        margin-bottom: 0;
      }
    } 

    @media only screen and (max-width: $bp-small) {
      margin-bottom: 5rem;

      &:last-child {
        margin-bottom: 0;
      }
    } 

    
    &--cuadrado-1 {
      grid-row: 13 / 20;
      grid-column: 1 / 3;
      z-index: 4;
    }


    &--horizontal-1 {
      grid-row: 3 / 20;
      grid-column: 2 / 4;
    }

    &--triptico-1 {
      grid-row: 7 / 20;
      grid-column: 4 / 5;
      z-index: 4;

      @media only screen and (min-width: $bp-large) {
        margin-left: -20rem;
      } 


    }

    &--cuadrado-2 {
      grid-row: 3 / 20;
      grid-column: 5 / 6;
      z-index: 4;
    }

    &--horizontal-2 {
      grid-row: 1 / 21;
      grid-column: 6 / 9;
      z-index: 1;
      width: 65vw;
      @media only screen and (max-width: $bp-large) {
        height: 90vh;
        width: 100%;

        
      }
    }

    &--vertical-1 {
      grid-row: 3 / 20;
      grid-column: 7 / 8;
      z-index: 6;
      
      @media only screen and (max-width: $bp-large) {
        margin-top: -90vh;
        scale: 0.7;
        
      }

      @media only screen and (max-width: $bp-medium) {
        margin-top: -90vh;
        scale: 1;
        
      }

      @media only screen and (max-width: $bp-small) {
        margin-top: -90vh;
        scale: .7;
        
      }
    }

    &--cuadrado-3 {
      grid-row: 1 / 21;
      grid-column: 9 / 12;
      z-index: 1;
      margin-left: -4rem;
      width: 65vw;

      @media only screen and (max-width: $bp-large) {
        height: 80vh;
        width: 100%;
        margin-left: 0rem;

        display: flex;
        justify-content: center;
      }
    }

    &--horizontal-3 {
      grid-row: 9 / 20;
      grid-column: 12 / 13;
      z-index: 3;
      
      @media only screen and (min-width: $bp-large) {
        margin-left: -30rem;
      }
    }


    &--cuadrado-4 {
      grid-row: 4 / 19;
      grid-column: 13 / 14;

      @media only screen and (max-width: $bp-large) {
        
        margin-top: -13rem;
        margin-left: 13rem;
        z-index: 5;
        
      }
 
    }

  }

  
  
}