.hero {
  font-family: $font-primary;

  display: grid ; 
  grid-template-columns: repeat(4, 1fr);
  margin: 0 7rem;
  z-index: 10;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    width: 100vw;
}

    @media only screen and (max-width: $bp-large) {
      height: 60vh;
    }

  width: 90vw;
  height: 100%;

  

  @media only screen and (max-width: $bp-medium) {
    display: flex; 
    flex-direction: column;
    margin: 0 0rem;
    height: min-content;
    align-items: center;
    width: 100%;
    }
  
  
  //animation: hero--load-1 ease-in 2000ms;
  &__nombre {
    margin-top: 5rem;
    //color: $color-black;
    font-size: 23rem;
    font-weight: 400;
    letter-spacing: -1rem;
    grid-column: 1 / -1;
    justify-self: center;

    grid-row: 1 / 2;
    animation: title--load-1 cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;

    @media only screen and (max-width: $bp-huge) {
      font-size: 18rem;
  }

  @media only screen and (max-width: $bp-largest) {
    font-size: 15rem;
}

    @media only screen and (max-width: $bp-large) {
      font-size: 13rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 9rem;
      letter-spacing: -0.5rem;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 5rem;
      letter-spacing: -0.3rem;
    }


  
  }

  &__titulo {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: -5rem;

    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -.1rem;
    grid-row: 2 / 3;
    animation: title--load-1 cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;

    @media only screen and (max-width: $bp-largest) {
      font-size: 2.6rem;
    }

    @media only screen and (max-width: $bp-large) {
      margin-top: 0rem;
      font-size: 2.3rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 1.5rem;
    }
  }

  &__descripcion {
    grid-column: 3 / -1;
    font-size: 3.5rem;
    font-weight: 400;
    margin-top: 3rem;
    grid-row: 3 / 5;
    white-space: normal;

    @media only screen and (max-width: $bp-huge) {
      font-size: 3rem;
  }

  @media only screen and (max-width: $bp-largest) {
    font-size: 2.8rem;
  }

  @media only screen and (max-width: $bp-large) {
    grid-column: 2 / 5;
    padding: 0 6rem;
    font-size: 2.5rem;
  }

  @media only screen and (max-width: $bp-medium) {
    text-align: center;
    font-size: 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 0 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  }

  &__redes-container {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    margin: auto;
    margin-left: 5rem;

    @media only screen and (max-width: $bp-largest) {
      grid-row: 2 / 5;
  }

  @media only screen and (max-width: $bp-large) {
    margin-top: 3rem;
    grid-row: 3 / 5;
  }

  @media only screen and (max-width: $bp-medium) {
    margin: 0;
}
    

  }

  &__foot {
    grid-row: 4 / 5;
    margin-left: 5rem;
    grid-column: 1 / 2;

    @media only screen and (max-width: $bp-medium) {
      margin: 0;
  }


  }
}

@keyframes title--load-1 {
  0% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(0rem);
  }
}