.hero {
  font-family: $font-primary;

  display: grid ; 
  grid-template-columns: repeat(4, 1fr);
  margin: 0 7rem;
  z-index: 10;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    width: 100vw;
}

  width: 90vw;
  height: 100%;

  // @media only screen and (max-height: $bp-medium) {
  //   //grid-template-rows: 6rem calc(100vh - 6rem);
  // }

  @media only screen and (max-width: $bp-small) {
    display: flex; 
    flex-direction: column;
    margin: 0 0rem;
    height: min-content;
    width: 100%;
    }
  
  
  //animation: hero--load-1 ease-in 2000ms;
  &__nombre {
    margin-top: 5rem;
    //color: $color-black;
    font-size: 23rem;
    font-weight: 400;
    letter-spacing: -1rem;
    grid-column: 1 / -1;
    justify-self: center;

    grid-row: 1 / 2;
    animation: title--load-1 cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;


  
  }

  &__titulo {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: -5rem;

    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -.1rem;
    grid-row: 2 / 3;
    animation: title--load-1 cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;




  }

  &__descripcion {
    grid-column: 3 / -1;
    font-size: 4rem;
    font-weight: 400;
    margin-top: 3rem;
    grid-row: 3 / 5;
    white-space: normal;

  }

  &__redes-container {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    margin: auto;
    margin-left: 5rem;
    

  }

  &__foot {
    grid-row: 4 / 5;
    margin-left: 5rem;
    grid-column: 1 / 2;
    


  }
}

@keyframes title--load-1 {
  0% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(0rem);
  }
}