.visuales {
  width: 40vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  padding-top: 30%;

  margin: 4rem 7rem;

  flex-wrap: wrap;
  font-family: $font-primary;

  @media only screen and (max-width: $bp-largest) {
    padding-top: 25vh;
    align-self: center;
    margin-bottom: auto;
  }

  @media only screen and (max-width: $bp-large) {
    width: 100vw;
    padding-top: 0;
    justify-self: center;
    margin: 4rem 0;
  }


@media only screen and (max-width: $bp-small) {
  display: flex; 
  flex-direction: column;
  margin: 3rem 0rem 5rem 0rem;
  height: min-content;
  width: 100%;
  padding: 0;
  }


&__nombre {
  margin-top: 0rem;

  font-size: 19rem;
  font-weight: 400;
  letter-spacing: -1rem;

  justify-self: center;
  text-transform: uppercase;
  align-self: flex-end;

  @media only screen and (max-width: $bp-large) {
    align-self: center;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 15rem;
  }


@media only screen and (max-width: $bp-small) {
  font-size: 6rem;
  //font-weight: 400;
  letter-spacing: 0rem;
  margin-top: 2rem;
  align-self: center;
}
  
}

&__descripcion {
  font-size: 4rem;
  font-weight: 400;
  margin: 2rem 1rem;
  white-space: normal;
  width: 40vw;

  @media only screen and (max-width: $bp-largest) {
    font-size: 3.5rem;
    width: 70vw;
    text-align: center;
    margin: 3rem 0;
  }

  @media only screen and (max-width: $bp-large) {
    align-self: center;
  }


    @media only screen and (max-width: $bp-small) {
      margin: 2rem 0;
      font-size: 2.2rem;
      width: 90%;
      align-self: center;
      text-align: center;
    }

}

&__foot {
  //grid-row: 4 / 5;
  margin-left: 1rem;
  //grid-column: 1 / 2;
  justify-self: flex-end;
  margin-top: auto;
  margin-bottom: 10rem;

  // @media only screen and (max-height: $bp-medium) {
  //   font-size: 1.2rem;
  //   font-weight: 400;
  // }

  @media only screen and (max-width: $bp-large) {
    align-self: center;
    margin-bottom: 0rem;
  }

  @media only screen and (max-width: $bp-small) {
    align-self: center;
    margin-top: 3rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
  }
}
}